
<!--https://www.w3schools.com/w3css/4/w3.css-->
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"/>

<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato"/>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>

<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif}
.w3-bar,h1,button {font-family: "Montserrat", sans-serif}
.fa-anchor,.fa-question, .fa-eye {font-size:200px;color:#394c7a !important;}
.selectedFilms {opacity:0.5;cursor: none !important;}

.w3-red {background-color:#394c7a !important;}

.visContainer {
display:none;
}
#visMainMap {
margin-left: 0 !important;
margin-right: 0 !important;
}
#g1 {width:100% !important;}
@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

#visMainMap {  
  animation: 5s ease-out 0s 1 slideInFromLeft;
}
</style>