<root>
<!-- Navbar -->
<div style="z-index: 100000;" class="w3-top">
  <div class="w3-bar w3-red w3-card w3-left-align w3-large">
    <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-red" href="javascript:void(0);" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
    <a href="#" class="w3-bar-item w3-button w3-padding-large w3-white">Home</a>
	<div class="w3-dropdown-hover w3-hide-small">
     <a class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Explore <i class="fa fa-caret-down"></i></a>  
    <div class="w3-dropdown-content w3-card-4 w3-bar-block">
	  <a href="../barcharts/barchart_genre.html#g1" class="w3-bar-item w3-button">Genres (Bar)</a>	
	  <a href="../piecharts/pie_genre.html#g1" class="w3-bar-item w3-button">Genres (Pie)</a>	
      <a href="../barcharts/barchart_country.html#g1" class="w3-bar-item w3-button">Countries (Bar)</a>
      <a href="../piecharts/pie_country.html#g1" class="w3-bar-item w3-button">Countries (Pie)</a>
      <a href="../barcharts/barchart_language.html#g1" class="w3-bar-item w3-button">Languages (Bar)</a>
      <a href="../piecharts/pie_language.html#g1" class="w3-bar-item w3-button">Languages (Pie)</a>
	  <a href="../barcharts/barchart_runtime.html#g1" class="w3-bar-item w3-button">Runtime (Bar)</a>
      <a href="../wordcloud/wordcloud_longplot.html#g1" class="w3-bar-item w3-button">Plots (Wordcloud)</a>
	  <a href="../topics/topic_modeling.html#g1" class="w3-bar-item w3-button">Plots (Topic modeling, Bar)</a>
	  <a href="../barcharts/barchart_sentiment_analysis.html#g1"  class="w3-bar-item w3-button">Plots (Sentiment Analysis)</a>
	  <a href="../networks/network_actors.html#g1" class="w3-bar-item w3-button">Actors and films (Network)</a>
	  <a href="../networks/network_producers.html#g1"  class="w3-bar-item w3-button">Producers and films (Network)</a>
	  <a href="../networks/network_directors.html#g1" class="w3-bar-item w3-button">Directors and films (Network)</a>
	  <a href="../table/interactive_table.html#g1" class="w3-bar-item w3-button">Interactive table</a>
	  <a href="../timeline/timeline.html#g1" class="w3-bar-item w3-button">Timeline</a>
    </div>
  </div>
  <!--<a href="#g1" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Explore</a>-->
    <a href="#g2" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Findings</a>
    <a href="#g3" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">About</a>
  </div>
  

  <!-- Navbar on small screens -->
  <div id="navDemo" class="w3-bar-block w3-white w3-hide w3-hide-large w3-hide-medium w3-large">
	<div class="w3-dropdown-hover">
     <a class="w3-bar-item w3-button  w3-padding-large">Explore <i class="fa fa-caret-down"></i></a>  
    <div class="w3-dropdown-content w3-card-4 w3-bar-block">
	  <a href="../barcharts/barchart_genre.html#g1" class="w3-bar-item w3-button">Genres (Bar)</a>	
	  <a href="../piecharts/pie_genre.html#g1" class="w3-bar-item w3-button">Genres (Pie)</a>	
      <a href="../barcharts/barchart_country.html#g1" class="w3-bar-item w3-button">Countries (Bar)</a>
      <a href="../piecharts/pie_country.html#g1" class="w3-bar-item w3-button">Countries (Pie)</a>
      <a href="../barcharts/barchart_language.html#g1" class="w3-bar-item w3-button">Languages (Bar)</a>
      <a href="../piecharts/pie_language.html#g1" class="w3-bar-item w3-button">Languages (Pie)</a>
	  <a href="../barcharts/barchart_runtime.html#g1" class="w3-bar-item w3-button">Runtime (Bar)</a>
      <a href="../wordcloud/wordcloud_longplot.html#g1" class="w3-bar-item w3-button">Plots (Wordcloud)</a>
	  <a href="../topics/topic_modeling.html#g1" class="w3-bar-item w3-button">Plots (Topic modeling, Bar)</a>
	  <a href="../barcharts/barchart_sentiment_analysis.html#g1"  class="w3-bar-item w3-button">Plots (Sentiment Analysis)</a>
	  <a href="../networks/network_actors.html#g1" class="w3-bar-item w3-button">Actors and films (Network)</a>
	  <a href="../networks/network_producers.html#g1"  class="w3-bar-item w3-button">Producers and films (Network)</a>
	  <a href="../networks/network_directors.html#g1" class="w3-bar-item w3-button">Directors and films (Network)</a>
	  <a href="../table/interactive_table.html#g1" class="w3-bar-item w3-button">Interactive table</a>
	  <a href="../timeline/timeline.html#g1" class="w3-bar-item w3-button">Timeline</a>
    </div>
  </div>
	
	
	<a href="#g2" class="w3-bar-item w3-button w3-padding-large">Findings</a>
    <a href="#g3" class="w3-bar-item w3-button w3-padding-large">About</a>
  </div>
</div>

<!-- Header -->
<header class="w3-container w3-red w3-center" style="padding:128px 16px">
  <h1 class="w3-margin w3-jumbo">Visualising Film Features</h1>
  <p class="w3-xlarge">Exploration and Visualisation of metadata from prize-winning and highly-ranked films</p>
  <!--<a href="#g3" class="w3-button w3-black w3-padding-large w3-large w3-margin-top">Project by Sviatoslav Drach, Julia Kappes and Anna Fischer</a>-->
</header>	
</root>
