<!-- Second Grid -->
<div id="g2" class="w3-row-padding w3-light-grey w3-padding-64 w3-container">
  <div class="w3-content">
	<div class="w3-third w3-center">
      <i class="fa fa-eye w3-padding-64 w3-text-red w3-margin-right"></i>
    </div>
    <div class="w3-twothird">
      <h1>Findings</h1>
<div>
<p><span>In total we
    collected data about 301 films:</span></p>

<ul class="w3-text-grey">
    <li><span>89
        with Oscar for Best film</span></li>
    <li><span>91
        with Golden Palm</span></li>
    <li><span>147
        ranked as “highest-grossing”</span></li>
</ul>



<p><span>Even though we
    do not offer a full-fledged data analysis, we would like to point out
    interesting findings of our visualised dataset. </span></p>



<p><h5 class="w3-padding-8"><span>Findings
    for the feature “genre” (pie chart and bar chart):</span></h5></p>

<ul class="w3-text-grey">
    <li><span>entire
        dataset (all years, all “Best films”): both bar and pie chart show that
        the genre Drama is dominant, followed by Romance and Adventure</span></li>
    <li><span>comparison
        between “Best film groups”: for Oscar and Golden Palm, the genre Drama is
        the very dominant (Oscar: 34.31%, Golden Palm: 44.5%) followed by Romance
        (Oscar: 13.39%, Golden Palm: 10.47%), while the highest grossing films
        show different proportions: Drama is first but with “only” 14.83%,
        followed closely by Adventure (14.58%)</span></li>
    <li><span>change
        over time (complete dataset): Drama was dominant for almost each
        decade, only between 1920 and 1929, the proportion of the genre
        Romance was bigger than drama</span></li>
    <li><span>no
        information on change over time for individual “Best film groups”</span></li>
</ul>



<p><h5 class="w3-padding-8"><span>Findings
    for the feature “country” (pie chart and bar chart):</span></h5></p>

<ul class="w3-text-grey">
    <li><span>entire
        dataset (all years, all “Best films”): USA is dominant (50.8%), followed
        by UK (10.76%), France (9.39%) and Italy (5.49%)</span></li>
    <li><span>comparison
        between “Best film groups”:</span></li>
    <ul class="w3-text-grey">
        <li><span>Oscar: USA dominant with 71.3 %, followed by UK
            (15.65%), rest more heterogeneous</span></li>
        <li><span>Golden Palm: most films from France (19.57%), followed
            by USA (12.5%), Italy (11.96%) and UK (9.24%). In general more
            heterogeneous than Oscar and highest-grossing</span></li>
        <li><span>Highest-grossing films: USA very dominant (“85%),
            followed by UK (8.57%)</span></li>
    </ul>
    <li><span>change
        over time (complete dataset): USA is dominant during all decades. Until
        1949, all films are US-American (Golden Palm not yet existing during this
        time period!). From 1949 on the “American dominance” seems to diminish
        gradually</span></li>
    <li><span>no
        information on change over time for individual “Best film groups”</span></li>
</ul>



<p><h5 class="w3-padding-8"><span>Findings
    for the feature “language” (pie chart and bar chart):</span></h5></p>

<ul class="w3-text-grey">
    <li><span>entire
        dataset (all years, all “Best films”): 45.92% English, followed by French
        (8.71%), German, Italian and Spanish</span></li>
    <li><span>comparison
        between “Best film groups”: </span></li>
    <ul class="w3-text-grey">
        <li><span>Oscar: 51.15% English, followed by French (9.77%)</span></li>
        <li><span>Golden Palm: more heterogeneous than Oscar: English:
            27.53%, followed by French (11.8%), Italian and German</span></li>
        <li><span>Highest-grossing: 58.21% English, the rest is quite
            heterogeneous</span></li>
    </ul>
    <li><span>change
        over time (complete dataset): complete dominance of English diminishing
        slowly between 1930 and 2009, bigger in 2010-19 decade (51.06%)</span></li>
    <li><span>no
        information on change over time for individual “Best film groups”</span></li>
</ul>



<p><h5 class="w3-padding-8"><span>Findings
    for the feature runtime (bar charts): </span></h5></p>

<ul class="w3-text-grey">
    <li><span>change
        over time (complete dataset): longest films between 1990 and 1999 (141 minutes)
        , shortest films between 1940 and 1949 (114 minutes). From 1920 until
        1959, the average was &lt;125 minutes, before and after that &gt;125
        minutes</span></li>
    <li><span>comparison
        between “Best film groups” with change over time: between 1920 and 1999,
        Oscar films were longer than </span></li>
    <li><span>not
        visualised: averages per “Best film groups”</span></li>
</ul>



<p><h5 class="w3-padding-8"><span>Findings
    for the feature plot description: </span></h5></p>

<p><span>1. Word cloud
    of entire dataset: </span></p>

<ul class="w3-text-grey">
    <li><span>the
        most frequent words are: “one”, “life”, “world”, “new”, “love”, “war”,
        “man”, “family”, “find”; in general in the word cloud, there is a certain
        prominence of family related words (such as family, mother, wife, father
        etc.)</span></li>
    <li><span>no
        information on word frequencies for individual “Best film groups”</span></li>
</ul>



<p><span>2. Topic
    modelling (Bar charts)</span></p>

<ul class="w3-text-grey">
    <li><span>most
        important topics are: family, life, war, friendship, relationships, death</span></li>
</ul>



<p><span>3. Sentiment
    analysis: </span></p>

<ul class="w3-text-grey">
    <li><span>no
        relevant data, everything is quite the same</span></li>
</ul>



<p><h5 class="w3-padding-8"><span>Findings
    for network (block graphs) of actors and films: </span></h5></p>

<ul class="w3-text-grey">
    <li><span>many
        different types of connections: there is different films with (almost the
        same) cast, individual actors that play in different films, etc. </span></li>
</ul>



<p><h5 class="w3-padding-8"><span>Findings
    for network (block graphs) of directors and films: </span></h5></p>

<ul class="w3-text-grey">
    <li><span>there
        are many 1-film-1-director relationships</span></li>
    <li><span>there
        are certain very “successful” directors, e.g. Spielberg (6
        Highest-grossing films and 1 Oscar film), Cecile B DeMille (4
        highest-grossing, 1 Golden Palm film, 1 Oscar film) or William Wyler (2
        highest-grossing films, 1 Oscar film, 1 Golden Palm film)</span></li>
    <li><span>there
        are some connections between certain directors working together on more
        than one “successful” film</span></li>
</ul>



<p><h5 class="w3-padding-8"><span>Findings
    for network (block graphs) of producers and films: </span></h5></p>

<ul class="w3-text-grey">
    <li><span>there
        are some 1film-1director relationships</span></li>
</ul>

<ul class="w3-text-grey">
    <li><span>there
        are certain very “successful” producers, e.g. Walt Disney with 12 Highest-grossing
        films </span></li>
    <li><span>there
        are some connections between certain producers working together on more
        than one “successful” film</span></li>
</ul>
</div>
    </div>
  </div>
</div>

<!-- third Grid -->
<div id="g3" class="w3-row-padding w3-padding-64 w3-container">
  <div class="w3-content">
    <div class="w3-third w3-center">
      <i class="fa fa-question w3-padding-64 w3-text-red w3-margin-right"></i>
    </div>

    <div class="w3-twothird">
      <h1>About</h1>
      <h5 class="w3-padding-32">“Visualising Film Features” is a web application that was realised as an academic group project by students of the Master’s programme “Information processing” at the University of Cologne. The project’s aim is to collect and process freely available data about award-winning and/or highly-ranked films from free online film data sources and explore visualisation techniques in order to present and (if possible) analyse or interpret the film data. The project results should serve as a <em>proof of concept</em> for processing and visualising larger film datasets in the future. Visualisations and findings shall be presented in a web application.</h5>
    </div>
  </div>
</div>

<!-- Footer -->
<footer class="w3-container w3-padding-64 w3-center w3-opacity w3-light-grey">  
  <div class="w3-xlarge w3-padding-32">
  
  <a class="w3-small w3-padding-32" href="https://www.wikipedia.org/" target="_blank">Wikipedia</a>
  <a class="w3-small w3-padding-32" href="http://www.omdbapi.com/" target="_blank">OMDb</a>
  <a class="w3-small w3-padding-32" href="https://d3js.org/" target="_blank">d3</a>
  <a class="w3-small w3-padding-32" href="https://developers.google.com/chart/" target="_blank">Google chart tools</a>
  <a class="w3-small w3-padding-32" href="https://voyant-tools.org/" target="_blank">Voyant Tools</a>
  <a class="w3-small w3-padding-32" href="https://textblob.readthedocs.io/en/dev/" target="_blank">TextBlob</a>
  <a class="w3-small w3-padding-32" href="https://timeline.knightlab.com/" target="_blank">Timeline.js</a>
 </div>
 <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a></p>
</footer>

<script>
// Used to toggle the menu on small screens when clicking on the menu button
function myFunction() {
    var x = document.getElementById("navDemo");
    if (x.className.indexOf("w3-show") == -1) {
        x.className += " w3-show";
    } else { 
        x.className = x.className.replace(" w3-show", "");
    }
}
</script>